<h1 mat-dialog-title style="color: red; text-align: center">Erro</h1>
<div mat-dialog-content>{{ data.message }}</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Close</button>
</div>

