/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '@angular/material/theming';


$custom-app-primary: mat.define-palette($mat-blue);
$custom-app-secondary: mat.define-palette($mat-indigo, A200, A400, 700);
$custom-app-warn: mat.define-palette($mat-red);

$custom-theme: mat.define-light-theme($custom-app-primary, $custom-app-secondary, $custom-app-warn);

@include angular-material-theme($custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
